*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.debug{
    background-color: red;
    header{
        background-color: blue;

        .top{
            background-color: yellow;
        }
        .bottom{
            background-color: green;
        }
    }

    main{
        .left{
            background-color: blue;
        }

        .right{
            background-color: yellow;
        }
    }
}

.container{
    display: flex;
}

/*end debug*/
body{
    height: 100vh;

}


/*header*/
header{
    height: 125px;


    .top{
        height: 50%;
    }

    .bottom{
        height: 50%;
    }
}
/* main*/
main{

    .left{
        width: 75%;
        display: flex;
        flex-wrap: wrap;
    }
    .right{
        width: 25%;
    }
    
}