*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.debug{
    *{
        border: 1px dashed;
    }

    background-color: red;
    header{
        background-color: blue;

        .top{
            background-color: yellow;
        }
        .bottom{
            background-color: green;
        }
    }

    main{
        .container{
            background-color: aqua;
        }
        .left{
            background-color: blue;
            .card{
                background-color: blueviolet;
                height: 17rem;
                width: calc(100% /4);
            }
            .a{
                background-color: green;

            }
            
        }

        .right{
            background-color: yellow;
        }
    }
}

.container{
    display: flex;
}

/*end debug*/
body{
    height: 100vh;
    overflow: hidden;

}


/*header*/
header{
    height: 125px;


    .top{
        height: 50%;
    }

    .bottom{
        height: 50%;
    }
}
/* main*/
main{
    height: 100%;
    

    .left{
        width: 75%;
        display: flex;
        flex-wrap: wrap;
        overflow-y: visible;
        overflow-y: scroll;
        
        .card{

        }
    }
    .right{
        width: 25%;
    }
    
}